body {
    width: 100%;
    height: 100%;
    margin: 0;

}

canvas {
    display: block;
    touch-action: none;
    margin: 0;
}

#dev-output {
    position: fixed;
    margin: 0;
    bottom: 0;
    right: 0;
    padding: 5px;
    font-size: 25px;
    color: white;
}

/* @media (max-width: 800px){
    body{
        margin: 0;
        width: 100%;
        height: 100%;
    }
} */